body {
  font-family: "Inter", sans-serif;
}

.navbar-scroll {
  background-color: #131325;
  /* opacity: 0.8; */
  backdrop-filter: blur(10px);
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
}

.navbar-title {
  font-family: "Dancing Script", cursive;
  font-size: 32px;
  margin-bottom: 0;
}

.jumbotron {
  padding-top: 7rem;
}

.bg-shade-blue {
  background-color: #335cbe;
}

.bg-blue-magenta {
  background-color: #131325;
}

/* For list social media on Section Jumbotron */
.list-social-media {
  column-gap: 20px;
}

.bg-social-media {
  width: 2.5rem;
  height: 2.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 1.25rem;
  border-radius: 50%;
  outline: 2px solid #fff;
  color: white;
  transition-property: outline-offset, outline-color, background-color;
  transition-duration: 0.25s;
}

.bg-social-media:hover {
  outline-offset: 4px;
}

.bg-social-media i:hover {
  animation: shake 0.5s;
}

.icon-instagram:hover {
  background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
  outline-color: #a82d76;
}
.icon-linkedin:hover {
  background-color: white;
  outline-color: white;
}
.icon-facebook:hover {
  background-color: white;
  outline-color: white;
}
.icon-github:hover {
  background-color: #00ffae;
  outline-color: #00ffae;
}

@keyframes shake {
  10% {
    transform: rotate(-15deg);
  }
  20% {
    transform: rotate(15deg);
  }
  30% {
    transform: rotate(-15deg);
  }
  40% {
    transform: rotate(15deg);
  }
}
/* For list social media on Section Jumbotron */

.card {
  width: 100%;
}

.fix-ratio {
  aspect-ratio: 16/9;
  object-fit: cover;
}
